<?xml version="1.0"?>
<config>
    <modules>
        <SM_Cashier>
            <version>0.0.1</version>
        </SM_Cashier>
    </modules>
    <stores>
        <admin>
            <design>
                <package>
                    <name>default</name>
                </package>
                <theme>
                    <default>sm</default>
                </theme>
            </design>
        </admin>
    </stores>
    <global>
        <helpers>
            <cashier>
                <class>SM_Cashier_Helper</class>
            </cashier>
        </helpers>
        <blocks>
            <cashier>
                <class>SM_Cashier_Block</class>
            </cashier>
        </blocks>
        <models>
            <cashier>
                <class>SM_Cashier_Model</class>
                <resourceModel>cashier_resource</resourceModel>
            </cashier>
            <cashier_resource>
                <class>SM_Cashier_Model_Resource</class>
                <entities>
                    <user>
                        <table>sm_user</table>
                    </user>
                </entities>
            </cashier_resource>
        </models>
        <resources>
            <cashier_setup>
                <setup>
                    <module>SM_Cashier</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cashier_setup>
            <cashier_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cashier_write>
            <cashier_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cashier_read>
        </resources>

    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <sm_cashier before="Mage_Adminhtml">SM_Cashier_Adminhtml</sm_cashier>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <sales>
                <children>
                    <cashier module="cashier">
                        <title>SM</title>
                        <children>
                            <cashier translate="title" module="cashier">
                                <title>Manage Cashiers</title>
                                <action>adminhtml/cashier</action>
                            </cashier>
                        </children>
                    </cashier>
                </children>
            </sales>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <sales>
                            <children>
                                <cashier>
                                    <title>SmartOSC</title>
                                    <children>
                                        <cashier translate="title">
                                            <title>Manage Cashiers</title>
                                        </cashier>
                                    </children>
                                </cashier>
                            </children>
                        </sales>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <cashier>
                    <file>cashier.xml</file>
                </cashier>
            </updates>
        </layout>
    </adminhtml>
</config>
